[Unit]

Description=eqroute-failover

Requires=network.target



[Service]

Type=simple

ExecStart=/usr/local/bin/eq-route.sh

Restart=always



[Install]

WantedBy=multi-user.target
